.tree {
    font-family: Roboto,Helvetica Neue,sans-serif;
    width: 100%;
}

.tree-level {
    flex: 1;
}

.node-checkbox {
    display: none;
}

.icon-wrapper {
    padding: 0;
    min-width: 0;
    flex-shrink: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;    
    height: 24px;
    width: 24px;
}

.node-wrapper:hover {
    background-color: #EEEEEE;
}

.node-wrapper:focus {
    border: 0;
    background-color: #E0E0E0;
}

.input-wrapper {
    /*margin-left: 0.75em;*/
}

.icon-wrapper svg {
    height: 12px;
    width: 12px;
} 

.node-wrapper {
    min-height: 32px;
    display: flex;
    align-items: center;
    flex: 1;
    word-wrap: break-word;
    font-weight: 400;
    font-size: 14px;
}

.checkbox-wrapper {
    width: 1.25em;
    height: 1.25em;
}

.checkbox-wrapper {
    position: relative;
    margin-left: 0.3em;
    overflow: hidden;
}

.checkbox-wrapper {
    background: #fff;
    border: 2px solid rgba(0, 0, 0, 0.54);
    border-radius: 0.125em;
    cursor: pointer;
    transition: background 0.3s;
}

.checkbox-wrapper.checked, .checkbox-wrapper.indeterminate{
    background: #3f51b5;
    border: 2px solid #3f51b5;
}

.node-wrapper.disabled .checkbox-wrapper.checked {
    background: rgba(0, 0, 0, 0.26);
}

.node-wrapper.disabled .checkbox-wrapper.indeterminate {
    background: rgba(0, 0, 0, 0.26);
}

.node-wrapper.disabled .checkbox-wrapper {
    border-color: rgba(0, 0, 0, 0.26);
}

.checkbox-wrapper.checked:after {
    transform: translate(0.25em, 0.3365384615em) rotate(-45deg);
    width: 0.7em;
    height: 0.3em;
    border: 0.125em solid #fff;
    border-top-style: none;
    border-right-style: none;
}

.checkbox-wrapper.indeterminate:after {
    transform: translate(0.25em, 0.3365384615em) rotate(0deg);
    width: 0.7em;
    height: 0.3em;
    border: 0.125em solid #fff;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
}

.checkbox-wrapper:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
}

.node-over {
    border-top: solid 2px #5C6BC0;
}
  
.node-in {
    background-color: #BDBDBD;
}

.node-under {
    border-bottom: solid 2px #5C6BC0;
}

.input-wrapper {
    display: flex;
    align-items: center;
}
.node-text {
    font-size: 14px;
    position: relative;
    color: #000000;
}
.node-input, .node-text  {
    font-family: 'Roboto', sans-serif;
}

.input-wrapper:after {
    content: "\00A0";
    display: block;
    color: #d50000;
    font-size: 12px;
    padding-top: 5px;
}

.input-wrapper input{
      padding: 4px 0 4px 0;
      display: block;
      width: 100%;
      border: none;
      font-size: 14px;
      color: #000000;
      border-bottom: 1px solid #d2d2d2;
      outline: none;
      background: transparent;
      transition: border-color 0.2s;
}

.input-wrapper input:focus {
    outline:none;
    color: #3f51b5 ;
    padding-bottom: 4px;
    border-bottom-width: 3px;
    border-bottom-color: #3f51b5;
}
